@import 'variables';

#about-me{
  height: 100vh;
  color: rgba(28, 51, 53, 1.0);


  .half{
    float: left;
    position: relative;
    margin: 50px 0;
  }
  .left {
    width: 40%;
    height: 100%;
  }
  .right{
    width: 60%;
    height: 100%;

  }
  h2 {
    color: rgba(28, 51, 53, 1.0);
    position: absolute;
    left: 0;
    top: 50px;
    text-align: left;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    font-family: $serif-font;
  }
  h3 {
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-family: $sans-serif;
    letter-spacing: 1.2px;
    position: absolute;
    bottom: 50px;

  }
  // article{
  //   width: 70%;
  // }
  .large-left-image-column {
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 15%;
    bottom: 0;
    background-image: url('./images/cactus.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-column-right {
    line-height: 1.7;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 70%;
  }
  .colored-box {
    background-color: rgba(28, 51, 53, 1.0);
    position: absolute;
    right: 0;
    top: 20px;

  }
  .small {
    height: 4%;
    top: 10%;
    width: 20%;

  }
  .large {
    height: 4%;
    top: 20%;
    right: 10%;
    width: 30%;
  }
  .bottom {
    height: 4%;
    top: 30%;
    width: 20%;
  }
  .square {
    height: 50%;
    width: 40%;
    left: 10%;
    top: 6%;
    background-color: rgba(28, 51, 53, 1.0);
  }
}
