@import 'variables';

#about-me{
  height: 100vh;
  position: relative;
  padding-bottom: 100px;

  .half{
    position: relative;
    float: left;
    height: 100vh;
  }
  .left {
    width: 40%;
  }
  .right{
    width: 60%;
  }
  h2 {
    color: rgba(23, 39, 47, 1.0);
    position: absolute;
    left: 0px;
    top: 100px;
    text-align: left;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    font-family: $serif-font;
  }
  h3 {
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-family: $sans-serif;
    letter-spacing: 1.2px;
    position: absolute;
    bottom: 20px;

  }
  article{
    width: 70%;
  }
  .large-left-image-column {
    width: 350px;
    height: 90vh;
    display: inline-block;
    position: absolute;
    left: 100px;
    bottom: 0px;
    background-image: url('./images/cactus.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-column-right {
    line-height: 1.7;
    text-align: left;
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 50%;
  }
  .colored-box {
    height: 30px;
    background-color: rgba(28, 51, 53, 1.0);
    position: absolute;
    right: 0;
    top: 20px;
    width: 200px;

  }
  .small {
    top: 150px;
  }
  .large {
    top: 220px;
    right: 100px;
    width: 250px;
  }
  .bottom {
    top: 290px;
  }
  .square {
    height: 250px;
    left: 80px;
    top: 50px;
    background-color: rgba(28, 51, 53, 1.0);
  }
}
