h2{
  margin: 30px;
}
#flex-container {
  display: flex;
}
.social {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 100px;
  background-image: url('./images/social-icons-sketch.png');
}

#fb{
  background-position-x: -40px;
  background-position-y: -30px;
}
#twitter{
  background-position-x: -130px;
  background-position-y: -30px;
}
#insta{
  background-position-x: -305px;
  background-position-y: -30px;
}
#in{
  background-position-x: -570px;
  background-position-y: -30px;
}
#git{
  background-position-x: -40px;
  background-position-y: -380px;
}
