@import 'variables';

nav{
  padding: 40px;
  .logo {
    background-image: url('me.jpeg');
    height: 100%;
    width:100%;
    border-radius: 100px;
  }

  .page-links {
    margin-top: 40px;
    li {
      border-bottom: 1px solid $link-seperator;
      padding: 20px;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      a::before{
        content: "";
        position: absolute;
        left: -3px;
        top: 25px;
        border-bottom: 2px solid $salmon-color;
        width: 6px;
        transition-duration: .2s;
        -webkit-transition-duration: .2s;
      }
      a:hover::before, a:active::before{
        width: 130px;
        border-bottom: 1px solid $salmon-color;

      }
    }
  }
}
