#portfolio{
  height: 100vh;
  width: 100%;
  position: absolute;
  color: white;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.26px;
  padding: 130px 0;
  background-color: rgba(78, 133, 148, 1.0);
  h2{
    margin-bottom: 30px;
  }
}
.flex-container{
  display: flex;
  width: 100%;
}

a#image1, a#image2, a#image3 {
  width: 33.333%;
  height: 400px;
  border: 5px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 200px;
}

a#image1 {
  background-image: url('./images/project1.png');
  background-position-x: -90px;
}
a#image2 {
  background-image: url('./images/project4.png');
  background-position-x: -110px;
}
a#image3 {
  background-image: url('./images/project5.png');
}
// a#image1:hover, a#image2:hover, a#image3:hover {
//   width: 98%;
//   height: 290px;
// }
