#portfolio{
  width: 100%;
  color: white;
  // z-index: 1;
  text-align: center;
  letter-spacing: 0.26px;
  background-color: rgba(78, 133, 148, 1.0);
  h2{
    margin-bottom: 30px;
    text-align: center;
    display: block;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    font-family: $serif-font;
    margin: 0 auto;
  }
}
.flex-container{
  display: flex;
  justify-content: center;
  width: 100%;
  a {
    width: 15%;
    margin: 5%;
  }
}

#image1, #image2, #image3 {
  width: 100%;
  height: 200px;
  border: 5px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 200px;
}

#image1 {
  background-image: url('./images/project1.png');
  background-position-x: -62px;
}
#image2 {
  background-image: url('./images/project4.png');
  // background-position-x: -110px;
}
#image3 {
  background-image: url('./images/project5.png');
}
// a#image1:hover, a#image2:hover, a#image3:hover {
//   width: 98%;
//   height: 290px;
// }
