
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  h3 {
    margin: 20px;
  }
  outline: red 2px solid;
}
.front-end, .back-end, .tools{
  text-align: center;
  margin: 30px auto;
  width:31%;
  outline: red 2px solid;
}
.skill  {
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background-image: url(./images/bg-color.png);
  background-size: cover;
  margin: 1%;
  background-position: center;
  position: relative;
  text-align: left;
  line-height: 30px;
  padding-left: 20px;
  color: white;
  overflow: visible;
}
