$main-font-color: rgba(57, 57, 57, 1.0);
$salmon-color: rgba(171, 46, 120, .7);
$link-seperator: rgba(229, 229, 229, 1.0);

$monospace-font: 'Inconsolata', monospace;
$sans-serif: 'Montserrat', sans-serif;
$serif-font: 'Prata', serif;
