@import './scss/reset';
@import './scss/navbar';
@import './scss/header';
@import './scss/aboutMe';
@import './scss/skills';
@import './scss/portfolio';
@import './scss/contact';

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 300;
  position: relative;
}
.left-side {
  width: 20%;
  position: fixed;
}
.right-side {
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}
header, .blog, .contact, footer, .portfolio, .skills {
  max-height: 100vh;
  min-height: 100vh;
  h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
  }
}
span{
  color: rgba(162, 50, 114, 1.0);
  font-weight: bold;
}
section {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
