@import './scss/reset';
@import './scss/navbar';
@import './scss/header';
@import './scss/aboutMe';
@import './scss/skills';

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 300;

}
.left-side {
  width: 20%;
  position: fixed;
}
.right-side {
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}

header, .blog, .contact, footer, .portfolio, .skills {
  padding: 130px 0;
  max-height: 100vh;
  min-height: 100vh;
  h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
  }
  h1, h2, h3, p, li {
    padding-left: 70px;
  }

}
