@import './scss/reset';
@import './scss/navbar';
@import './scss/header';
@import './scss/aboutMe';
@import './scss/skills';
@import './scss/portfolio';
@import './scss/contact';


#about-me, #portfolio{
  h2 {
    position: absolute;
    text-align: left;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    font-family: $serif-font;
  }
  h3 {
    font-family: $sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-family: $sans-serif;
    letter-spacing: 1.2px;
  }
}
body {
  margin:0;
  padding: 0;
  font-family: $serif-font;
  font-weight: 300;
  position: relative;
}
#page {
  position:absolute;
  top:0;
  left:0;
  right:0;
}
section {
  height: 100vh;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  box-sizing: border-box;
}

.next {
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-36px;
  cursor:pointer;
  font-size:400%;
}
.next:after {
  content:'▼';
}
