@import 'variables';

nav{
  padding: 40px;
  a {
    text-decoration: none;
    color: $main-font-color;
  }
  .page-links {
    margin-top: 40px;
    li {
      padding: 20px;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      a::before{
        content: "";
        position: absolute;
        left: -3px;
        top: 10px;
        background-color: 2px solid $salmon-color;
        width: 6px;
        transition-duration: .2s;
        -webkit-transition-duration: .2s;
      }
      a:hover::before, .clicked::before{
        width: 130px;
        height: 30px;
        background-color: $salmon-color;
        color: white;

      }
    }
  }
}
